<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.boot.mappers.PhotoMapper">
	<resultMap id="photoResult" type="com.kh.boot.domain.vo.Photo">
		<result column="PHOTO_NO" property="photoNo"/>
		<result column="PHOTO_TITLE" property="photoTitle"/>
		<result column="PHOTO_WRITER" property="photoWriter"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="COUNT" property="count"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<select id="selectPhotoCount" resultType="_int">
		SELECT COUNT(*)
		FROM PHOTO
		WHERE STATUS = 'Y'
	</select>
	<select id="selectPhotoList" resultMap="photoResult">
		SELECT PHOTO_NO,
		PHOTO_TITLE,
		PHOTO_WRITER,
		ORIGIN_NAME,
		CHANGE_NAME,
		TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS CREATE_DATE
		FROM PHOTO
		WHERE STATUS = 'Y'
		ORDER BY PHOTO_NO DESC
	</select>
	<insert id="insertPhoto">
		INSERT
		INTO PHOTO(
		PHOTO_NO,
		PHOTO_TITLE,
		PHOTO_WRITER,
		ORIGIN_NAME,
		CHANGE_NAME
		) VALUES (
		SEQ_BNO.NEXTVAL,
		#{photoTitle},
		#{photoWriter},
		#{originName},
		#{changeName}
		)
	</insert>
</mapper>